
<form [formGroup]="regolaForm" (ngSubmit)="onSubmit()">
    <div style="margin-bottom: 1em" class="form-row">
        <div class="col-auto">
                <button type="submit"
                [disabled]="regolaForm.pristine" class="btn btn-success">Salva</button> &nbsp;
        </div>
        <div class="col">
            <input class="form-control" formControlName="name" placeholder="Nome">  
        </div>
              
    </div>
    <div class="form-row">
        <div class="form-group col">
            <select class="form-control" formControlName="category">
              <option *ngFor="let category of categories" [ngValue]="category">{{category.descrizione}}</option>
            </select>
        </div>
        <div class="form-group col" *ngIf="regolaForm.controls.category.value">
            <select class="form-control" formControlName="subcategory">
              <option *ngFor="let subcategory of regolaForm.controls.category.value.sottocategorie" [ngValue]="subcategory">{{subcategory.descrizione}}</option>
            </select>
        </div>
    </div>
    
    <div formArrayName="condizioni">
        <h4>Condizioni</h4>
        <div *ngFor="let condizione of condizioni.controls; let i=index" [formGroupName]="i" class="card" style="margin-bottom: 10px">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-4">
                      <label >Campo</label>
                      <select class="form-control form-control-sm" formControlName="field">
                        <option *ngFor="let field of fields" [value]="field.value">{{field.display}}</option>
                      </select>
                    </div>
                    <div class="form-group col-4">
                      <label >Operatore</label>
                      <select class="form-control form-control-sm" formControlName="operator">
                        <option *ngFor="let operator of operators" [value]="operator.value">{{operator.display}}</option>
                      </select>
                    </div>
                    <div class="form-group col-4">
                      <label >Valore:</label>
                      <input class="form-control form-control-sm" formControlName="value">
                    </div>
                </div>
                <a (click)="removeCondition(i)" class="btn btn-danger" tabIndex>Rimuovi</a>
            </div>
        </div>
        <button (click)="addCondizione()" type="button" class="btn btn-primary">Aggiungi condizione</button>
    </div>
</form>