
<div class="container">
  <div class="row">
    <div class="col-md-4">
      
      <app-lista-regole [regole]="regole" (selectedRegola)="changeSelectedRegola($event)" [idConto]="idConto"></app-lista-regole>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
              Configurazione regola
            </div>
            <div class="card-body">
                <app-regola-detail #listaRegole [regola]="selectedRegola" [categories]="categorie" (newRuleAdded)="addRegolaToList($event)" ></app-regola-detail>
            </div>
          </div>
      
    </div>
  </div>
</div>