.carousel-indicators {
    bottom:-50px;
  }  
.carousel-inner {
    margin-bottom:50px;
}

.carousel-indicators li {
    background-color: grey !important;
}

.carousel-indicators li.active {
    background-color: darkgrey !important;
}

a {
    cursor: pointer;
}