.carousel-indicators {
    bottom:-50px;
    
  }  
.carousel-inner {
    margin-bottom:50px;
}

.carousel-indicators li {
    background-color: grey !important;
    cursor: pointer;
}

.carousel-indicators li.active {
    background-color: darkgrey !important;
    cursor: pointer;
}

a {
    cursor: pointer;
}
/*
.btn.btn-link.active {
    background-color: #007bff;
    color: white;
}

.btn.btn-link.active span {
    color: white !important;
}
*/