<div class="row">
    <div class="col">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2">
                    <input class="form-control mb-2 mr-sm-2" placeholder="yyyy-mm-dd"
                            name="dfrom" [(ngModel)]="dateFrom" ngbDatepicker #dFrom="ngbDatepicker">
                    <div class="input-group-append mb-2 mr-sm-2">
                        <button class="btn btn-outline-secondary" (click)="dFrom.toggle()" type="button">
                                <span class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2">
                    <input class="form-control mb-2 mr-sm-2" placeholder="yyyy-mm-dd"
                            name="dto" [(ngModel)]="dateTo" ngbDatepicker #dTo="ngbDatepicker">
                    <div class="input-group-append mb-2 mr-sm-2">
                        <button class="btn btn-outline-secondary" (click)="dTo.toggle()" type="button">
                            <span class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="btn-group mb-2 mr-sm-2" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary" 
                [ngClass]="{ 'active': categoria.selected }" 
                *ngFor="let categoria of categorie" 
                (click)="toggleCategory(categoria)"
                placement="top" [ngbTooltip]="categoria.descrizione">
                    <span [class]="categoria.icon_class"  [ngStyle]="{ color: categoria.colore }"></span>
                </button>
            </div>
            <button class="btn btn-primary mb-2" (click)="getMovimenti()">Cerca</button>
        </form>
    </div>
</div>
<hr>
<app-tabs>
        <app-tab [tabTitle]="'Spese'">
            <div class="row">
                <div class="col-xs-12 pull-left">
                    Totale spese nel periodo: {{ getTotaleUscite() }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="canvas_uscite"> {{ chartUscite }}</canvas>
                </div>
            </div>
            <div class="row" style="margin-top:25px">
                <div class="col">
                    <app-movimento *ngFor="let movimento of uscite" [movimento]="movimento" [categorie]="categorie" (movimentoUpdate)="onMovimentoUpdated($event)"></app-movimento>
                </div>
            </div>
        </app-tab>
        <app-tab tabTitle="Entrate">
            <div class="row">
                <div class="col-xs-12 pull-left">
                    Totale entrate nel periodo: {{ getTotaleEntrate()}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="canvas_entrate"> {{ chartEntrate }}</canvas>
                </div>
            </div>
            
            <div class="row" style="margin-top: 25px">
                <div class="col">
                    <app-movimento *ngFor="let movimento of entrate" [movimento]="movimento" [categorie]="categorie"></app-movimento>
                </div>
            </div>
        </app-tab>
</app-tabs>
<hr>
