<div class="row">
    <div class="col">
        <form>
            <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dfrom" [(ngModel)]="dateFrom" ngbDatepicker #dFrom="ngbDatepicker" [disabled]="selectedSearch != 'custom'">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dFrom.toggle()" type="button" [disabled]="selectedSearch != 'custom'">
                                        <span class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" [disabled]="selectedSearch != 'custom'"
                                name="dto" [(ngModel)]="dateTo" ngbDatepicker #dTo="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dTo.toggle()" type="button" [disabled]="selectedSearch != 'custom'">
                                    <span class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>
                                </button>
                            </div>
                        </div> 
                    </div>
                    <div class="col">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedSearch" (ngModelChange)="changePeriod($event)">
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="month"> Ultimo mese
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="3months"> Ultimi 3 mesi
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="6months"> Ultimi 6 mesi
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="custom"> Personalizzato
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success mb-2" (click)="doSearch()">Cerca</button>
                    </div>
                    
            </div>
        </form>
    </div>
</div>
<hr>
<ngb-tabset type="pills" (tabChange)="onTabChange($event)">
    <ngb-tab title="Spese" id="OUT">
      <ng-template ngbTabContent>
        <h4>
                Totale spese nel periodo: {{ getTotaleUscite() | currency:'EUR':'symbol' }}
        </h4>
        <ul class="nav nav-pills justify-content-center" style="margin-bottom: 10px">
            <li class="nav-item" >
                <a class="nav-link" [ngClass]="{'active': selectedOutTab==='GRAPHS'}" tabindex (click)="selectedOutTab='GRAPHS'">Grafici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': selectedOutTab==='LIST'}" tabindex  (click)="selectedOutTab='LIST'">Elenco</a>
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="btn-group mb-2 mr-sm-2" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary" 
                [ngClass]="{ 'active': categoria.selected }" 
                *ngFor="let categoria of categorie | categoryFilter:'OUT'" 
                (click)="toggleCategory(categoria)"
                placement="top" [ngbTooltip]="categoria.descrizione">
                    <span [class]="categoria.icon_class"  [ngStyle]="{ color: categoria.colore }"></span>
                </button>
            </div>
        </div>
        
        <div class="row" *ngIf="selectedOutTab==='GRAPHS'">
            <div class="col">
                <div id="carouselGraphs" class="carousel slide" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                                <li data-target="#carouselGraphs" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselGraphs" data-slide-to="1"></li>
                            </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <app-grafico [movimenti]="uscite" [title]="'Spese'" [categorie]="categorie">

                            </app-grafico>
                        </div>
                        <div class="carousel-item">
                            <app-grafico-categorie [title]="'Spese per categoria nel periodo selezionato'" 
                            [categorie]="categorieSelezionate" 
                            [dateFrom]="dateFrom"
                            [dateTo]="dateTo"
                            [contoId]="idConto">

                            </app-grafico-categorie>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div *ngIf="selectedOutTab==='LIST'">
            <div class="row">
                <div class="col">
                    <ngb-pagination [collectionSize]="uscite.length" [(page)]="uscitePage" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            
            <div class="row" style="margin-top:25px">
                <div class="col">
                    <app-movimento *ngFor="let movimento of uscite | slice: (uscitePage * 10) - 10 :uscitePage * 10" 
                    [movimento]="movimento" 
                    [categorie]="categorie" 
                    (movimentoUpdate)="onMovimentoUpdated($event)"></app-movimento>
                </div>
            </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Entrate" id="IN">
      <ng-template ngbTabContent>
        <h4 class="row">
            Totale entrate nel periodo: {{ getTotaleEntrate() | currency:'EUR':'symbol'}}
        </h4>
        <ul class="nav nav-pills justify-content-center" style="margin-bottom: 10px">
            <li class="nav-item" >
                <a class="nav-link" [ngClass]="{'active': selectedInTab==='GRAPHS'}" tabindex (click)="selectedInTab='GRAPHS'">Grafici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': selectedInTab==='LIST'}" tabindex  (click)="selectedInTab='LIST'">Elenco</a>
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="btn-group mb-2 mr-sm-2" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary" 
                [ngClass]="{ 'active': categoria.selected }" 
                *ngFor="let categoria of categorie | categoryFilter:'IN'" 
                (click)="toggleCategory(categoria)"
                placement="top" [ngbTooltip]="categoria.descrizione">
                    <span [class]="categoria.icon_class"  [ngStyle]="{ color: categoria.colore }"></span>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="selectedInTab==='GRAPHS'">
            <div class="col">
                <app-grafico [movimenti]="entrate" [title]="'Entrate'" [categorie]="categorie">

                </app-grafico>
            </div>
        </div>
        <div *ngIf="selectedInTab==='LIST'">
            <div class="row">
                <div class="col">
                    <ngb-pagination [collectionSize]="entrate.length" [(page)]="entratePage" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            
            <div class="row" style="margin-top: 25px">
                <div class="col">
                    <app-movimento *ngFor="let movimento of entrate | slice: (entratePage * 10) - 10 :entratePage * 10" 
                        [movimento]="movimento" 
                        [categorie]="categorie">
                    </app-movimento>
                </div>
            </div>
        </div>
        
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Andamento" id="BALANCE">
        <ng-template ngbTabContent>
          <div class="row">
              <div class="col">
                <app-grafico-andamento [rilevazioni]="andamenti" [title]="'Andamento nel periodo selezionato'">

                </app-grafico-andamento>
              </div>
          </div>
        </ng-template>
      </ngb-tab>
</ngb-tabset>
<hr>
