<button type="button" (click)="resetRegola()"
        class="btn btn-primary">Aggiungi nuova regola</button>
      <button type="button" (click)="applyRules()"
        class="btn btn-success">Applica regole</button>
<ul class="list-group">
      <a class="list-group-item clearfix"
      [ngClass]=" {'active': currentRegola == regola}"
      *ngFor="let regola of regole" style="cursor: pointer" (click)="selectRegola(regola)">
                  {{ regola.name }}
                  <span class="pull-right">
                      <button type="button" class="btn btn-xs btn-danger" (click)="askForDelete(content, regola)">
                        <span class="fa fa-minus-circle" aria-hidden="true"></span>
                      </button>
                    </span>
      </a>
</ul>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Attenzione</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Cancellare la regola selezionata?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(true)">Si</button>
    <button type="button" class="btn btn-outline-dark" (click)="c(false)">No</button>
  </div>
</ng-template>