<form name="addContoForm">
    <div class="form-group">
      <label for="inputTitolare">Titolare</label>
      <input type="text" class="form-control" id="inputTitolare"  placeholder="Titolare" name="titolareField" [(ngModel)]="titolare">
    </div>
    <div class="form-group">
      <label for="inputDescrizione">Nome conto</label>
      <input type="text" class="form-control" id="inputDescrizione" placeholder="Nome conto" name="descrizioneField" [(ngModel)]="descrizione">
    </div>
    <button type="button" [disabled]="!canCreate()" class="btn btn-primary" (click)="onCreaConto()">Aggiungi conto</button>
</form>